* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.heading {
  color: #4f46e5;
  font-size: 14px;
  font-weight: 600;
  border-radius: 1234px;
  background: #eef2ff;
  display: inline-block;
  padding: 6px 12px;
}

.title {
  color: #1e293b;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
  letter-spacing: -0.504px;
}

.description {
  color: #475569;
  text-align: center;
  width: 762px;
  /* border: 1px solid red; */
  margin: 0 auto;
  padding-bottom: 64px;
  font-size: 20px;
  line-height: 160%;
}

.button {
  min-height: 48px;
  padding: 12px 20px;
  color: white;
  background: #4f46e5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.112px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
}

.ghost-button {
  min-height: 48px;
  padding: 12px 20px;
  color: #475569;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.112px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
}

header {
  position: relative;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo .logo-icon {
  width: 40px;
  height: 40px;
  background: url("./image/BG.png") lightgray 50% / cover no-repeat;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.hero-section {
  padding-top: 96px;
  background: url("./image/layer.png") no-repeat center center;
  background-size: cover;
}

.hero-section .content {
  text-align: center;
}

.hero-section .content h1 {
  color: #1e293b;
  font-size: 60px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: -1.08px;
  margin: 24px 0;
}

.hero-section .content .p-2 {
  color: #475569;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 48px;
}

.hero-section .content .buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.hero-section .image {
  position: relative;
}

.hero-section .image .mockup-image {
  position: absolute;
  top: 140px;
  right: 27px;
}

.trusted-companies {
  background: #f8fafc;
  padding: 64px 0;
}

.trusted-companies .companies-logo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.trusted-companies .companies-logo > div {
  grid-column: span 2;
}

.trusted-companies .spacer {
  grid-column: span 1 !important;
}

.features {
  padding: 96px 0;
}

.features-header {
  text-align: center;
  margin-bottom: 64px;
}

.feature-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 32px;
}

.feature-box {
}

.feature-box .image {
  text-align: center;
}
.feature-box h4 {
  margin-top: 20px;
  color: #1e293b;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.feature-box p {
  color: var(--Gray-60, #475569);
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  font-weight: 400;
  line-height: 160%;
}

.lazy-work-section {
  padding: 96px 0;
  background: var(--Gray-5, #f8fafc);
}

.lazy-work-section .icon {
  display: flex;
  justify-content: center;
}

.lazy-work-section .icon span {
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 123px;
  background: var(--Brand-5, #eef2ff);
}

.lazy-work-section .icon img {
  display: block;
}

.result-box {
  /* border: 1px solid red; */
}

.result-box .show-result {
  width: 245px;
  height: 108px;
}

.result-box .show-result h1 {
  color: #4f46e5;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.08px;
}

.result-box .show-result p {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.144px;
  margin-top: 16px;
}

.procrastinators-feedback {
  padding: 95px 0;
  /* text-align: center; */
}

.procrastinators-feedback .feedback-content {
  /* display: flex; */
}

.procrastinators-feedback .feedback-boxes {
}

.feedback-boxes .box {
  padding: 24px;
  margin-bottom: 10px;
  border-left: 3px solid #e0e7ff;
  border-radius: 10px;
}
.feedback-boxes .box h4 {
  color: #475569;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-bottom: 12px;
}
.feedback-boxes .box p {
  width: 468px;
  color: #475569;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.image-box {
  width: 592px;
  height: 592px;
  border-radius: 32px;
  background: #f1f5f9;
  display: flex;
  overflow: hidden;
  position: relative;
}

.image-box img {
  width: 327.338px;
  height: 709.83px;
  flex-shrink: 0;
  border-radius: 34px;

  /* transform: rotate(-30deg); */
}

.image-box .image-1 {
  transform: rotate(-30deg);
  position: absolute;
  top: 40px;
  border: 1px solid #e2e8f0;
  padding: 5px;
  border-radius: 34px;
}

.image-box .image-2 {
  transform: rotate(-30deg);
  position: absolute;
  top: -330px;
  left: 280px;
  border: 1px solid #e2e8f0;
  padding: 5px;
  border-radius: 34px;
}

.testimonials-section {
  padding: 96px 0;
  background: #f8fafc;
}

.reviews {
  column-count: 3;
  column-gap: 32px;
}

.review {
  display: inline-block;
  width: 100%;
  margin-bottom: 32px;
  border: 1px solid var(--Gray-20, #e2e8f0);
  background: #f8fafc;
  border-radius: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.reviews .review .stars {
  display: flex;
  gap: 8px;
}

.reviews .review p {
  margin: 24px 0;
  color: #475569;
  font-size: 18px;
  line-height: 160%;
}

.reviews .review .profile {
  gap: 12px;
}
.reviews .review .profile .avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.reviews .review .profile .info {
}

.reviews .review .profile .info p {
  color: var(--Gray-60, #475569);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}
.reviews .review .profile .info h4 {
  color: var(--Gray-80, #1e293b);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.112px;
}

.reviews .review .profile .info p {
  color: var(--Gray-60, #475569);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.office-info {
  padding: 64px 0;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.info-container .card {
  border: 1px solid var(--Gray-20, #e2e8f0);
  border-radius: 24px;
  padding: 24px;
}

.info-container .card img {
}
.info-container .card h4 {
  color: var(--Gray-80, #1e293b);
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-top: 24px;
  margin-bottom: 4px;
}
.info-container .card p {
  color: var(--Gray-80, #1e293b);
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.faq {
  background: #f8fafc;
  padding: 96px;
}
.faq .faq-heading {
  text-align: center;
}

.faq .faq-body {
  width: 800px;
}

.faq .faq-box {
  padding: 16px;
  border-bottom: 1px solid var(--Gray-30, #cbd5e1);
}
.faq .faq-body .faq-box .question {
  display: flex;
  justify-content: space-between;
}

.faq .faq-body .faq-box .question h1 {
  color: var(--Gray-70, #334155);
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.112px;
}

.faq .faq-body .faq-box p {
  color: var(--Gray-60, #475569);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  padding-top: 17px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq .faq-body .faq-box .question button {
  border: none;
  background: transparent;
}

.app-download-section {
  background: var(--Brand-5, #eef2ff);
  overflow: hidden;
}

.app-download-section .app-download-container {
  height: 589px;
  /* height: 690.776px; */
  gap: 96px;
  overflow: hidden;
}

.app-download-section .text {
  width: 50%;
}

.app-download-section .images {
  width: 50%;
}
.app-download-section .images .image-1 {
  width: 318.551px;
  /* height: 690.776px; */
  height: 589px;
  flex-shrink: 0;
  transform: translateY(100px);
  border: 1px solid #e2e8f0;
  border-radius: 34px;
  padding: 5px;
}
.app-download-section .images .image-2 {
  width: 318.551px;
  /* height: 690.776px; */
  height: 589px;
  flex-shrink: 0;
  transform: translateY(-100px) translateX(35px);
  border: 1px solid #e2e8f0;
  border-radius: 34px;
  overflow: hidden;
  padding: 5px;
}

.app-download-section .images img {
  width: 100%;
  height: 100%;
  border-radius: 34px;
}

.footer {
  padding: 96px 0;
}

.footer-contain {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px;
}

.footer .footer-row {
}
.footer .footer-contain .footer-row h4 {
  color: var(--Gray-80, #1e293b);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
  margin-bottom: 16px;
}
.footer .footer-contain .footer-row ul {
  list-style: none;
}

.footer .footer-contain .footer-row ul li {
  margin-bottom: 12px;
}

.footer .footer-contain .footer-row ul li a {
  text-decoration: none;
  color: var(--Gray-60, #475569);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.112px;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--Gray-30, #cbd5e1);
  margin-top: 42px;
  padding-top: 32px;
}

.footer-footer p {
  color: var(--Gray-40, #94a3b8);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.084px;
}

.footer-footer .image {
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 123px;
  border: 1px solid var(--Gray-30, #cbd5e1);
}

