* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  width: 1216px;
  margin: 0 auto;
}

header {
  position: relative;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo .logo-icon {
  width: 40px;
  height: 40px;
  background: url("./image/BG.png") lightgray 50% / cover no-repeat;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #475569;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.112px;
}

.buttons{
  display: flex;
  gap: 10px;
}

.buttons .button-one {
  min-height: 48px;
  padding: 12px 20px;
  color: #475569;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.112px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
}

.buttons .button-two {
  min-height: 48px;
  padding: 12px 20px;
  color: white;
  background: #4F46E5;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.112px;
  border-radius: 1234px;
  border: 1px solid #cbd5e1;
}
